# Web UI
streamlit>=1.15
streamlit-folium>=0.12.0
folium>=0.15.0

# Database
SQLAlchemy>=1.4
PyMySQL>=1.1.1

# Data processing
pandas>=1.3
numpy>=1.21

# Machine learning
scikit-learn>=1.0

# Geocoding / HTTP
requests>=2.26

# Environment variables
python-dotenv>=0.19

# Task runner
invoke>=1.6

# Testing
pytest>=6.2
sponsor_match~=0.1.0
geopy~=2.4.1
tqdm~=4.67.1
joblib~=1.5.0
lightgbm~=4.6.0
sponsor_match~=0.1.0
Faker~=37.3.0
fuzzywuzzy~=0.18.0